#app {
  background-color:blueviolet;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

form {
  background-color: blueviolet;
}

.card {
  margin: 10;
}

body {
  
}

#button-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

#catsButton {
  background-color: blue
}

#dogsButton {
  background-color: red
}

#dinosButton {
  background-color: green
}
